*{
    font-family:'Lora';
    color: whitesmoke;
}
body{
    background-image: url("https://www.microsoft.com/en-us/research/uploads/prod/2017/05/Area_IconHeader_Sys_Prog_1920x720-800x550.png");
    background-repeat: no-repeat;
    background-size: cover;   
}
h1{
    font-size:40px;
    margin-top : 100px;
    margin-left: 400px;   
}
h2{
    font-size:40px;
    margin-top : 200px;
    margin-left: 400px;   
}
p{
    margin-left:400px;
    margin-top: 30px;
    font-size: 30px;

}
a{
    margin-left: 150px;
    margin-top: 300px;
    color: whitesmoke;
}
.icons{
    margin-left: 150px;
    margin-top: 100px;
}
.navbar{
    margin-left: 200px;
    margin-right: 350px;
    background-color: rgb(57, 196, 145);
    padding:20px;
}

/* p{
    font-family: sans-serif;
}

ul{
    line-height: 40px
}
img{
    width: 350px;
    height: 250px;
}
 a:hover{
     color: red
 } */ 